﻿
@{
    ViewData["Title"] = "CreateSchoolAdmin";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="ks-page-header">
    <section class="ks-title">
        <h3>Add New School Admin</h3>
    </section>
</div>
<div class="ks-page-content">
    <div class="ks-page-content-body">
        <div class="card">
            <div class="card-block">
                <h5 class="card-title">School Admin Details:-</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Select School</label>
                            <select class="form-control">
                                <option>Select School</option>
                                <option>Allied School</option>
                                <option>Lahore Grammar School</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">Select Branch</label>
                            <select class="form-control">
                                <option>Select Branch</option>
                                <option>Branch A</option>
                                <option>Branch B</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">School Admin Name</label>
                            <input type="text" id="branch-name" class="form-control school-address" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">School Admin Email</label>
                            <input type="text" id="branch-address" class="form-control school-address" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">School Admin Username</label>
                            <input type="text" id="branch-phone-no" class="form-control school-phone-no" maxlength="9">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="ks-phone-mask-input">School Admin Password</label>
                            <input type="text" id="branch-email" class="form-control school-email" maxlength="9">
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="form-group">
                            <button id="btn-create-branch" class="btn btn-primary">Create School Admin</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

