﻿
@{
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}
<div class="ks-navbar-horizontal ks-primary">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="index.html">All Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">Add Class</a>
        </li>
    </ul>
</div>
    

