﻿@page
@{
    //ViewData["Title"] = "FrontEnd";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="main-content">
    <!-- CONTENT-->
    <div class="content">
        <!-- SLIDER BANNER-->
        <div class="section slider-banner set-height-top">
            <div class="slider-item">
                <div class="slider-1">
                    <div class="slider-caption">
                        <div class="container">
                            <h5 class="text-info-2">Your Data, Our Automation </h5>

                            <h1 class="text-info-1">
                                The integration of <br />
                                information, design,
                                <br /> and technology.
                            </h1>

                            <p class="text-info-3">For Schools</p>
                            <a asp-controller="Frontend" asp-action="ContactUs" class="btn btn-green"><span>Get Yours Now!</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slider-2">
                    <div class="slider-caption">
                        <div class="container">
                            <h5 class="text-info-2">Your Data, Our Automation </h5>

                            <h1 class="text-info-1">The integration of information, design, and technology.</h1>

                            <p class="text-info-3">For Schools</p>
                            <a asp-controller="Frontend" asp-action="ContactUs" class="btn btn-green"><span>Get Yours Now!</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                <div class="slider-3">
                    <div class="slider-caption">
                        <div class="container">
                            <h5 class="text-info-2">Your Data, Our Automation </h5>

                            <h1 class="text-info-1">The integration of information, design, and technology.</h1>

                            <p class="text-info-3">For Schools</p>
                            <a asp-controller="Frontend" asp-action="ContactUs" class="btn btn-green"><span>Get Yours Now!</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CHOOSE COURSES-->
        <div class="section section-padding choose-course">
            <div class="container">
                <div class="group-title-index">
                    <h4 class="top-title">OUR Modules</h4>

                    <h2 class="center-title">GET THE EFFICIENT SCHOOL MANAGMENT SYSTEM</h2>

                    <div class="bottom-title"><i class="bottom-icon icon-a-1-01-01"></i></div>
                </div>
                <div class="choose-course-wrapper row">
                    <div class="col-md-4 col-xs-6">
                        <div class="item-course item-1">
                            <div class="icon-circle">
                                <div class="icon-background"><i class="icons-img icon-globe"></i></div>
                                <div class="info">
                                    <div class="info-back"><a asp-controller="Frontend" asp-action="StudentManagement">Yours students, our responsiblity.</a></div>
                                </div>
                            </div>
                            <div class="name-course"><a asp-controller="Frontend" asp-action="StudentManagement">Student Management</a><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="item-course item-2">
                            <div class="icon-circle">
                                <div class="icon-background"><i class="icons-img fa fa-database"></i></div>
                                <div class="info">
                                    <div class="info-back"><a asp-controller="Frontend" asp-action="EmployeeManagement">We take care of your Employees.</a></div>
                                </div>
                            </div>
                            <div class="name-course"><a asp-controller="Frontend" asp-action="EmployeeManagement">Employee Management</a><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="item-course item-3">
                            <div class="icon-circle">
                                <div class="icon-background"><i class="icons-img icon-computer_network"></i></div>
                                <div class="info">
                                    <div class="info-back"><a asp-controller="Frontend" asp-action="AcademicSetup">We'll solve all your academic matters.</a></div>
                                </div>
                            </div>
                            <div class="name-course"><a asp-controller="Frontend" asp-action="AcademicSetup">Academic Setup</a><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="item-course item-4">
                            <div class="icon-circle">
                                <div class="icon-background"><i class="icons-img icon-credit_card"></i></div>
                                <div class="info">
                                    <div class="info-back"><a asp-controller="Frontend" asp-action="FeeManagement">Fee Management! Not a worry anymore.</a></div>
                                </div>
                            </div>
                            <div class="name-course"><a asp-controller="Frontend" asp-action="FeeManagement">Fee Management</a><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="item-course item-5">
                            <div class="icon-circle">
                                <div class="icon-background"><i class="icons-img icon-credit_card"></i></div>
                                <div class="info">
                                    <div class="info-back"><a asp-controller="Frontend" asp-action="PayrollHandling">Efficient Handling of Salaries.</a></div>
                                </div>
                            </div>
                            <div class="name-course"><a asp-controller="Frontend" asp-action="PayrollHandling">Payroll Handling</a><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="item-course item-6">
                            <div class="icon-circle">
                                <div class="icon-background"><i class="icons-img icon-chat_bubbles"></i></div>
                                <div class="info">
                                    <div class="info-back"><a asp-controller="Frontend" asp-action="ApplicationComplaint">All your issues will be solved with our Application cell.</a></div>
                                </div>
                            </div>
                            <div class="name-course"><a asp-controller="Frontend" asp-action="ApplicationComplaint">Application & Complaint Cell</a><i class="fa fa-long-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wrapper bottom-->
        <div class="section why-choose-us">
            <div class="why-choose-us-wrapper-bottom background-opacity">
                <div class="container">
                    <div data-wow-delay="0.4s" data-wow-duration="1s" class="row why-choose-us-wrapper wow zoomIn">
                        <div class="customs-row">
                            <div class="col-sm-4 col-xs-6 section-icon">
                                <i class="fa fa-pencil-square-o"></i>

                                <p> Over 600 free tutorial</p>
                            </div>
                            <div class="col-sm-4 col-xs-6 section-icon">
                                <i class="fa fa-compress"></i>

                                <p> Refund if not Satisfied</p>
                            </div>
                        </div>
                        <div class="customs-row">
                            <div class="col-sm-4 col-xs-6 section-icon">
                                <i class="fa fa-paper-plane"></i>

                                <p> Easy to access everytime, everywhere</p>
                            </div>
                            <div class="col-sm-4 col-xs-6 section-icon">
                                <i class="fa fa-folder-open"></i>

                                <p> Over 3000 Ebook a-vailable</p>
                            </div>
                        </div>
                        <div class="customs-row">
                            <div class="col-sm-4 col-xs-6 section-icon">
                                <i class="fa fa-external-link"></i>

                                <p> Free updates & support</p>
                            </div>
                            <div class="col-sm-4 col-xs-6 section-icon">
                                <i class="fa fa-stumbleupon-circle"></i>

                                <p> Flexible payment methods</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- TOP COURSES-->
        <div class="section section-padding top-courses">
            <div class="container">
                <div class="group-title-index">
                    <h4 class="top-title">Our Portals</h4>

                    <h2 class="center-title">We give your users the ease of access</h2>

                    <div class="bottom-title"><i class="bottom-icon icon-icon-04"></i></div>
                </div>
                <div class="top-courses-wrapper">
                    <div class="top-courses-slider">
                        <div class="top-courses-item">
                            <div class="edugate-layout-2">
                                <div class="edugate-layout-2-wrapper">
                                    <div class="edugate-content">
                                        <a href="courses-detail.html" class="title">Admin Portal</a>
                                        <div class="info-more">
                                            <div class="view item">
                                                <i class="fa fa-user"></i>

                                                <p> 56</p>
                                            </div>
                                            <div class="comment item">
                                                <i class="fa fa-comment"></i>

                                                <p> 239</p>
                                            </div>
                                        </div>
                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                        <div class="description">The school admin will be able to manage the data using our system very efficiently and easily.</div>
                                    </div>
                                    <div class="edugate-image"><img src="assets/frontend/images/courses/courses-1.jpg" alt="" class="img-responsive" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="top-courses-item">
                            <div class="edugate-layout-2">
                                <div class="edugate-layout-2-wrapper">
                                    <div class="edugate-content">
                                        <a href="courses-detail.html" class="title">Student Portal</a>

                                        @*<div class="info">
                                                <div class="author item"><a href="#">By Admin</a></div>
                                                <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                            </div>*@
                                        <div class="info-more">
                                            <div class="view item">
                                                <i class="fa fa-user"></i>

                                                <p> 56</p>
                                            </div>
                                            <div class="comment item">
                                                <i class="fa fa-comment"></i>

                                                <p> 239</p>
                                            </div>
                                        </div>
                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-10"><strong class="rating">5.00</strong> out of 5</span></div>
                                        <div class="description">The students will be able to check their daily tasks, exams and results, timetable, events happening in school etc.</div>
                                    </div>
                                    <div class="edugate-image"><img src="assets/frontend/images/courses/courses-2.jpg" alt="" class="img-responsive" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-courses-slider">
                        <div class="top-courses-item">
                            <div class="edugate-layout-2">
                                <div class="edugate-layout-2-wrapper">
                                    <div class="edugate-content">
                                        <a href="courses-detail.html" class="title">Parent Portal</a>

                                        @*<div class="info">
                                                <div class="author item"><a href="#">By Admin</a></div>
                                                <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                            </div>*@
                                        <div class="info-more">
                                            <div class="view item">
                                                <i class="fa fa-user"></i>

                                                <p> 56</p>
                                            </div>
                                            <div class="comment item">
                                                <i class="fa fa-comment"></i>

                                                <p> 239</p>
                                            </div>
                                        </div>
                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-70"><strong class="rating">5.00</strong> out of 5</span></div>
                                        <div class="description">Our systemt will help parents of students stay notified about all the reports of the student thus staying updated and well informed.</div>
                                    </div>
                                    <div class="edugate-image"><img src="assets/frontend/images/courses/courses-3.jpg" alt="" class="img-responsive" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="top-courses-item">
                            <div class="edugate-layout-2">
                                <div class="edugate-layout-2-wrapper">
                                    <div class="edugate-content">
                                        <a href="courses-detail.html" class="title">Teacher Portal</a>

                                        @*<div class="info">
                                                <div class="author item"><a href="#">By Admin</a></div>
                                                <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                            </div>*@
                                        <div class="info-more">
                                            <div class="view item">
                                                <i class="fa fa-user"></i>

                                                <p> 00</p>
                                            </div>
                                            <div class="comment item">
                                                <i class="fa fa-comment"></i>

                                                <p> 02</p>
                                            </div>
                                        </div>
                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-90"><strong class="rating">5.00</strong> out of 5</span></div>
                                        <div class="description">Our system will help teachers manage their duties efficiently and error freely. </div>
                                    </div>
                                    <div class="edugate-image"><img src="assets/frontend/images/courses/courses-4.jpg" alt="" class="img-responsive" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-btn-top-courses-slider">
                        <div class="btn-prev">&lsaquo;</div>
                        <div class="btn-next">&rsaquo;</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- WHY CHOOSE US-->
        <div class="section why-choose-us">
            <div class="why-choose-us-wrapper-top">
                <div class="container">
                    <div class="why-choose-us-wrapper">
                        <h2 class="title-2">Why Edify?</h2>

                        <p>There are many variations of school management system available, but the majority lack in some form either by fee/payroll managment or do not give access to student, teacher or parent, which don't look even slightly believable.</p>
                        <a asp-controller="Frontend" asp-action="AboutUs" class="btn btn-green-2"><span>start Learn now</span></a>
                    </div>
                    <div data-wow-delay="0.2s" data-wow-duration="1.2s" class="background-girl-1 wow fadeInUp"><img src="assets/frontend/images/girl-1.png" alt="" class="img-responsive" /></div>
                </div>
            </div>
        </div>

        <!-- SLIDER LOGO-->
        <div class="section slider-logo">
            <div class="container">
                <div class="slider-logo-wrapper">
                </div>
            </div>
        </div>
    </div>
</div>

