﻿
@{
    ViewData["Title"] = "StudentAdmission";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="ks-page-header">
    <section class="ks-title">
        <h3>Student Admission</h3>
    </section>
</div>

<div class="ks-page-content">
    <div class="ks-page-content-body">
        <div class="ks-nav-body-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 ks-panels-column-section">

                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title">OFFICIAL DETAILS:-</h5>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Academic Year</label>
                                            <select class="form-control">
                                                <option>Select Academic Year</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Reg No</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Joining Date</label>
                                            <input class="form-control flatpickr flatpickr-input active">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Course</label>
                                            <select class="form-control">
                                                <option>Select Course</option>
                                                <option value="1">2018 - 2019</option>
                                                <option value="2">2019 - 2020</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Batch</label>
                                            <select class="form-control">
                                                <option>Select Batch</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Roll No</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title">PERSONAL DETAILS:-</h5>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">First Name</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Last Name</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Date of Birth</label>
                                            <input class="form-control flatpickr flatpickr-input active">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Gender</label>
                                            <select class="form-control">
                                                <option>Select Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Religion</label>
                                            <select class="form-control">
                                                <option>Select Religion</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <h5 class="card-title">CONTACT DETAILS:-</h5>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Permanent Address</label>
                                            <textarea class="form-control" placeholder="Textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Present Address</label>
                                            <textarea class="form-control" placeholder="Textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">City</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Country</label>
                                            <select class="form-control">
                                                <option>Select Country</option>
                                                <option value="1">Pakistan</option>
                                                <option value="2">UK</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">State</label>
                                            <select class="form-control">
                                                <option>Select State</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Phone</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Mobile</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Email</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title">FATHER'S DETAILS:-</h5>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Name</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Mobile</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Job</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>                                   
                                </div>
                                <h5 class="card-title">MOTHER'S DETAILS:-</h5>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Name</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-date-mask-input">Mobile</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="ks-phone-mask-input">Job</label>
                                            <input type="text" id="ks-phone-mask-input" class="form-control ks-phone-mask-input" maxlength="9">
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
