﻿
@{
    ViewData["Title"] = "StudentAdmission";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div class="ks-page-header">
    <section class="ks-title">
        <h3>Student Admission</h3>
    </section>
</div>

<div class="ks-page-content">
    <div class="ks-page-content-body">
        <div class="ks-nav-body-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 ks-panels-column-section">

                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title">OFFICIAL DETAILS:-</h5>
                                <div>
                                    <form class="form-inline">
                                    <fieldset class="form-group">
                                        <label class="form-control-label">Academic Year</label>
                                        <div class="col-sm-4">
                                            <select class="form-control">
                                                <option>Select Academic Year</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group">
                                        <label class="form-control-label">Reg No</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="default-input" placeholder="Default input">
                                        </div>
                                    </fieldset>
                                  
                                        <div class="form-group row">
                                            <label for="default-input" class="col-sm-2 form-control-label">Default input</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="default-input" placeholder="Default input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="default-input" class="col-sm-2 form-control-label">Default input</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="default-input" placeholder="Default input">
                                            </div>
                                        </div>
                                    </form>
                                
                                    <div class="checkbox has-success mt-3 m-b-1">
                                        <div class="custom-control custom-checkbox">
                                            <input id="c9" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c9">Custom checkbox</label>
                                        </div>
                                    </div>
                                    <div class="checkbox has-warning mt-3 m-b-1">
                                        <div class="custom-control custom-checkbox">
                                            <input id="c10" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c10">Custom checkbox</label>
                                        </div>
                                    </div>
                                    <div class="checkbox has-danger mt-3">
                                        <div class="custom-control custom-checkbox">
                                            <input id="c11" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="c11">Custom checkbox</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
