﻿
@{
    ViewData["Title"] = "AcademicSetup";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}



<!-- MAIN CONTENT-->
<div class="main-content">
    <!-- CONTENT-->
    <div class="content">
        <div class="section background-opacity page-title set-height-top">
            <div class="container">
                <div class="page-title-wrapper">
                    <!--.page-title-content--><h2 class="captions">course detail</h2>
                    <ol class="breadcrumb">
                        <li><a href="index-2.html">Home</a></li>
                        <li><a href="categories.html">Categories</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li class="active"><a href="#">Courses Detail</a></li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="section section-padding courses-detail event-detail-section">
            <div class="container">
                <div class="courses-detail-wrapper">
                    <div class="row">
                        <div class="col-md-12 layout-left">
                            <h1 class="event-detail-title">Student Exchange Program Sessions</h1>

                            <div class="event-detail-thumb"><img src="~/assets/frontend/images/event-detail-1.jpg" alt="" class="img-responsive"></div>
                            <div class="event-detail-des">
                                <div class="event-detail-des-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius ultricies metus. Donec ac ex porta libero venenatis sodales. Sed efficitur eget risus sed molestie. Nulla blandit bibendum metus ut sagittis. Etiam quis semper justo. Sed tristique facilisis felis ut tincidunt. Phasellus auctor convallis nisl ut accumsan. Suspendisse ullamcorper fermentum lectus, vel tincidunt ligula mollis sit amet. Aliquam at ante at elit efficitur tincidunt a quis neque. Donec ut pulvinar metus. Pellentesque lobortis volutpat eros sed sagittis.</p><br>

                                    <p>Nunc rutrum ex eu auctor tristique. Maecenas suscipit vestibulum nunc nec placerat. Phasellus blandit augue nunc, consequat consectetur augue placerat sed. Aenean fermentum scelerisque lectus, sit amet ultricies ex interdum bibendum. Quisque porttitor, enim maximus convallis gravida, dui arcu lacinia libero, quis ornare nibh elit pharetra massa.</p>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="event-detail-related">
                    <div class="course-syllabus-title underline">May also you like</div>
                    <div class="event-detail-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="edugate-layout-3 news-gird">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="assets/images/news/news-1.jpg" alt="" class="img-responsive"></a>

                                        <div class="edugate-content">
                                            <a href="news-detail.html" class="title">Vegie Garden Workshops</a>

                                            <div class="info-more info-event-detail">
                                                <div class="view item">
                                                    <i class="fa fa-map-marker fa-fw"></i>

                                                    <p> New York, Time Square</p>
                                                </div>
                                                <div class="comment item">
                                                    <i class="fa fa-clock-o fa-fw"></i>

                                                    <p> 20/02/2015</p>
                                                </div>
                                            </div>
                                            <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</div>
                                            <button class="btn btn-green"><span>Check it</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="edugate-layout-3 news-gird">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="assets/images/news/news-2.jpg" alt="" class="img-responsive"></a>

                                        <div class="edugate-content">
                                            <a href="news-detail.html" class="title">Vegie Garden Workshops</a>

                                            <div class="info-more info-event-detail">
                                                <div class="view item">
                                                    <i class="fa fa-map-marker fa-fw"></i>

                                                    <p> New York, Time Square</p>
                                                </div>
                                                <div class="comment item">
                                                    <i class="fa fa-clock-o fa-fw"></i>

                                                    <p> 20/02/2015</p>
                                                </div>
                                            </div>
                                            <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</div>
                                            <button class="btn btn-green"><span>Check it</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="edugate-layout-3 news-gird">
                                    <div class="edugate-layout-3-wrapper">
                                        <a href="#" class="edugate-image"><img src="assets/images/news/news-3.jpg" alt="" class="img-responsive"></a>

                                        <div class="edugate-content">
                                            <a href="news-detail.html" class="title">Vegie Garden Workshops</a>

                                            <div class="info-more info-event-detail">
                                                <div class="view item">
                                                    <i class="fa fa-map-marker fa-fw"></i>

                                                    <p> New York, Time Square</p>
                                                </div>
                                                <div class="comment item">
                                                    <i class="fa fa-clock-o fa-fw"></i>

                                                    <p> 20/02/2015</p>
                                                </div>
                                            </div>
                                            <div class="description">Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less.</div>
                                            <button class="btn btn-green"><span>Check it</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
