﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <!-- CONTENT-->
    <div class="content">
        <div class="section background-opacity page-title set-height-top">
            <div class="container">
                <div class="page-title-wrapper">
                    <!--.page-title-content--><h2 class="captions">Contact</h2>
                    <ol class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="FrontEnd">Home</a></li>
                        <li class="active"><a href="#">Contact</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="section section-padding contact-main">
            <div class="container">
                <div class="contact-main-wrapper">
                    <div class="row contact-method">
                        <div class="col-md-4">
                            <div class="method-item">
                                <i class="fa fa-map-marker"></i>

                                <p class="sub">COME TO</p>

                                <div class="detail">
                                    <p>57 - Lawrence Road, Jubilee Town, </p>

                                    <p>Lahore</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="method-item">
                                <i class="fa fa-phone"></i>

                                <p class="sub">CALL TO</p>

                                <div class="detail">
                                    <p>Local: 1-800-123-hello</p>

                                    <p>Mobile: 1-800-123-hello</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="method-item">
                                <i class="fa fa-envelope"></i>

                                <p class="sub">CONNECT TO</p>

                                <div class="detail">
                                    <p>hello@Edify.com</p>

                                    <p>www.Edify.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="bg-w-form contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"><label class="control-label form-label">NAME <span class="highlight">*</span></label><input type="text" placeholder="" class="form-control form-input" /><!--label.control-label.form-label.warning-label(for="") Warning for the above !--></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="control-label form-label">EMAIL <span class="highlight">*</span></label><input type="text" placeholder="" class="form-control form-input" /><!--label.control-label.form-label.warning-label(for="")--></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group"><label class="control-label form-label">SUBJECT</label><input type="text" placeholder="" class="form-control form-input" /><!--label.control-label.form-label.warning-label(for="", hidden)--></div>
                            </div>
                            <div class="col-md-12">
                                <div class="contact-question form-group"><label class="control-label form-label">HOW CAN WE HELP? <span class="highlight">*</span></label><textarea class="form-control form-input"></textarea></div>
                            </div>
                        </div>
                        <div class="contact-submit">
                            <button type="submit" class="btn btn-contact btn-green"><span>SUBMIT CONTACT</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
@*        <div id="map" class="section contact-map"></div>*@
    </div>
</div>
