﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="ks-wrapper ks-sidebar-wrapper">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item ks-user dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/avatars/avatar-12.jpg" width="36" height="36" class="ks-avatar rounded-circle">
                <div class="ks-info">
                    <div class="ks-name">Student</div>
                    <div class="ks-text">Name of Student</div>
                </div>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="profile-social-profile.html">Profile</a>
                <a class="dropdown-item" href="profile-settings-general.html">Settings</a>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-dashboard"></span>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Academic</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Timetable</a>
                <a class="dropdown-item" href="index.html">Subjects</a>
                <a class="dropdown-item" href="index.html">Daily Diary</a>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Examination</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">Exam</a>
                <a class="dropdown-item" href="index.html">Datesheet</a>
                <a class="dropdown-item" href="index.html">Results</a>

            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-dashboard"></span>
                <span>Attendance</span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-cubes"></span>
                <span>Noticeboard</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="index.html">News and Updates</a>
                <a class="dropdown-item" href="index.html">Events</a>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="ks-icon la la-dashboard"></span>
                <span>Fees</span>
            </a>
        </li>

    </ul>
</div>