﻿
@{
    Layout = null;
}
@*@model RegisterViewModel*@
@*@{*@
@*    ViewData["Title"] = "Register";*@
@*    Layout = "~/Views/Shared/_FrontendLayout.cshtml";*@
@*}*@
@**@
@*<!-- MAIN CONTENT-->*@
@*<div class="main-content">*@
@*    <!-- CONTENT-->*@
@*    <div class="content">*@
@*        <div class="page-register rlp">*@
@*            <div class="container">*@
@*                <div class="register-wrapper rlp-wrapper">*@
@*                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">*@
@*                        <div class="register-table rlp-table">*@
@*                            <a href="index-2.html"><img src="assets/frontend/images/logo-color-1.png" alt="" class="login" /></a>*@
@**@
@*                            <div class="register-title rlp-title">create your account and join with us!</div>*@
@*                            <div class="register-form bg-w-form rlp-form">*@
@*                                <div asp-validation-summary="All" class="text-danger"></div>*@
@*                                <div class="row">*@
@*                                    <div class="col-md-6">*@
@*                                        <label asp-for="Name" class="control-label form-label">NAME <span class="highlight">*</span></label>*@
@*                                        <input asp-for="Name" id="Name" type="text" placeholder="" class="form-control form-input" /><!--p.help-block Warning !-->*@
@*                                        <span asp-validation-for="Name" class="text-danger"></span>*@
@*                                    </div>*@
@*                                    <div class="col-md-6">*@
@*                                        <label asp-for="Email" class="control-label form-label">email <span class="highlight">*</span></label>*@
@*                                        <input asp-for="Email" id="Email" type="email" placeholder="" class="form-control form-input" /><!-- p.help-block Warning !-->*@
@*                                        <span asp-validation-for="Email" class="text-danger"></span>*@
@*                                    </div>*@
@*                                    <div class="col-md-6">*@
@*                                        <label asp-for="Password" class="control-label form-label">password <span class="highlight">*</span></label>*@
@*                                        <input asp-for="Password" id="Password" type="password" placeholder="" class="form-control form-input" /><!-- p.help-block Warning !-->*@
@*                                        <span asp-validation-for="Password" class="text-danger"></span>*@
@*                                    </div>*@
@*                                    <div class="col-md-6">*@
@*                                        <label asp-for="ConfirmPassword" class="control-label form-label">confirm password <span class="highlight">*</span></label>*@
@*                                        <input asp-for="ConfirmPassword" id="ConfirmPassword" type="password" placeholder="" class="form-control form-input" /><!-- p.help-block Warning !-->*@
@*                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
@*                                    </div>*@
@*                                </div>*@
@*                            </div>*@
@**@
@*                            <div class="register-submit">*@
@*                                <button type="submit" onclick="window.location.href='index-2.html'" class="btn btn-register btn-green"><span>Register</span></button>*@
@*                            </div>*@
@**@
@*                        </div>*@
@*                    </form>*@
@*                </div>*@
@*                *@
@*            </div>*@
@*        </div>*@
@*    </div>*@
@*</div>*@
@**@
@**@
@**@
@**@
@*$1$#1#*@
@*@#1#section Scripts {#1#*@
@*$1$    @await Html.PartialAsync("_ValidationScriptsPartial")#1#*@
@*$1$}#1#*@
